body{
background-color:white;}
h1{
color:#1d1160;
text-align:center;
margin-top:60px;
}
#main-box{
border-color:purple;
border-size:2px;
border-style:dashed;
width:50%;
text-align:center;
padding:6%;
position:absolute;
left:25%;
top:25%;
box-sizing:border-box;
font-size:24px;
font-family:Arial,Helvetica,sans-serif;
height:50%;
}

#next-button{
background-color:#002244;
color:white;
padding:10px;
border-radius:25px;
position:absolute;
left:68%;
top:80%;
}

#prev-button{
background-color:#002244;
color:white;
padding:10px;
border-radius:25px;
position:absolute;
left:28%;
top:80%;
}

#reset-button{
background-color:#452c63;
color:white;
padding:1%;
border-radius:15px;
position:absolute;
left:45%;
top:85%;
}

#instructions-box{

position:absolute;
top:30%;
left:17%;
border-style:double;
border-color:#720e9e;
border-width:1px;
border-sizing:border-box;
padding:5%;
}

#file-button{
background-color:#452c63;
color:white;
padding:1%;
position:absolute;
left:40%;
border-radius:15px;
}