create Database Lab5
go
use Lab5
go
CREATE TABLE [dbo].[Items](
	[ItemNo] [int] NOT NULL Primary Key,
	[Name] [varchar](10) NULL,
	[Price] [int] NULL,
	[Quantity in Store] [int] NULL
)
GO
INSERT [dbo].[Items] ([ItemNo], [Name], [Price], [Quantity in Store]) VALUES (100, N'A', 1000, 100)
INSERT [dbo].[Items] ([ItemNo], [Name], [Price], [Quantity in Store]) VALUES (200, N'B', 2000, 50)
INSERT [dbo].[Items] ([ItemNo], [Name], [Price], [Quantity in Store]) VALUES (300, N'C', 3000, 60)

CREATE TABLE [dbo].[Customers](
	[CustomerNo] [varchar](2) NOT NULL Primary Key,
	[Name] [varchar](30) NULL,
	[City] [varchar](3) NULL,
	[Phone] [varchar](11) NULL
	)
GO
INSERT [dbo].[Customers] ([CustomerNo], [Name], [City], [Phone]) VALUES (N'C1', N'AHMED ALI', N'LHR', N'111111')
INSERT [dbo].[Customers] ([CustomerNo], [Name], [City], [Phone]) VALUES (N'C2', N'ALI', N'LHR', N'222222')
INSERT [dbo].[Customers] ([CustomerNo], [Name], [City], [Phone]) VALUES (N'C3', N'AYESHA', N'LHR', N'333333')
go

CREATE TABLE [dbo].[Order](
	[OrderNo] [int] NOT NULL Primary Key,
	[CustomerNo] [varchar](2) NULL foreign key References Customers(CustomerNo),
	[Date] [date] NULL,
	[Total_Items_Ordered] [int] NULL
	)
go

INSERT [dbo].[Order] ([OrderNo], [CustomerNo], [Date], [Total_Items_Ordered]) VALUES (1, N'C1', CAST(0x7F360B00 AS Date), 30)
INSERT [dbo].[Order] ([OrderNo], [CustomerNo], [Date], [Total_Items_Ordered]) VALUES (2, N'C3', CAST(0x2A3C0B00 AS Date), 5)
INSERT [dbo].[Order] ([OrderNo], [CustomerNo], [Date], [Total_Items_Ordered]) VALUES (3, N'C3', CAST(0x493C0B00 AS Date), 20)

GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderNo] [int] NOT NULL foreign key References [Order](OrderNo),
	[ItemNo] [int] NOT NULL foreign key References Items(ItemNo),
	[Quantity] [int] NULL,
	Primary Key (OrderNo, ItemNo)
	)
GO
INSERT [dbo].[OrderDetails] ([OrderNo], [ItemNo], [Quantity]) VALUES (1, 200, 20)
INSERT [dbo].[OrderDetails] ([OrderNo], [ItemNo], [Quantity]) VALUES (1, 400, 10)
INSERT [dbo].[OrderDetails] ([OrderNo], [ItemNo], [Quantity]) VALUES (2, 200, 5)

select * from Items
select * from Customers
select * from dbo.[Order]
select * from OrderDetails

