@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@1,700&display=swap");
.main{
    background-color: #33066f;
    height: 753px;
}

.t1{ 
    text-align: center;
    font-weight: bold;
    font-size:74pt;
    font-family: 'Averia Serif Libre', cursive;
    color:azure;
    position:absolute;
    margin-bottom: 10px;
    top: 20px;
    right: 545px;
}
.t2{
    text-align: center;
    font-weight: bold;
    font-size:74pt;
    font-family: 'Averia Serif Libre', cursive;
    color:azure;
    position:absolute;
    top: 200px;
    right: 525px;
}
.t3{
    text-align: center;
    font-weight: bold;
    font-size:74pt;
    font-family: 'Averia Serif Libre', cursive;
    color:azure;
    position:absolute;
    top: 300px;
    right: 560px;   
}
.b1{
    position:absolute;
    top: 500px;
    right: 860px;
}
.b2{
    position:absolute;
    top:500px;
    right:550px;
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: inherit;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    color: white;
    background-color:thistle;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: rgba(255, 255, 255, 0.333);
    /*border-radius: 40px 40px 40px 40px;*/
    padding: 16px 24px 16px 28px;
    transform: translate(0px, 0px) rotate(0deg);
    transition: 0.2s;
    box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 48%);
}
button:hover {
    color: #516d91;
    background-color: #E5EDF5;
    box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
    cursor: pointer;
} 
button:active {
    box-shadow: none;
}