.cardd {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    /*position: relative;*/
    position: absolute;
    left: -500px;
    top: 450px;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }


   .cardd2 {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    /*position: relative;*/
    position: absolute;
    right: 305px;
    top: 450px;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }

   .cardd3 {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    /*position: relative; */
    position: absolute;
    right: 535px;
    top: 450px;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }


   .cardd4 {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    /*position: relative; */
    position: absolute;
    left: 185px;
    top: 450px;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }

   .cardd5 {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    /*position: relative; */
    position: absolute;
    left: 410px;
    top: 450px;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }

   .cardd6 {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    /*position: relative; */
    position: absolute;
    left: 650px;
    top: 450px;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }
   
   .cardd7 {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    /*position: relative; */
    position: absolute;
    left: -500px;
    top: 720px;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }

   .cardd8 {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    /*position: relative;*/
    position: absolute;
    left: -270px;
    top: 720px;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }

   .cardd9 {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    /*position: relative;*/
    position: absolute;
    right: 300px;
    top: 720px;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }


   .cardd10 {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    /*position: relative;*/
    position: absolute;
    right: 80px;
    top: 720px;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }


   .cardd11 {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    /*position: relative;*/
    position: absolute;
    left: 410px;
    top: 720px;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }

   .cardd12 {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    /*position: relative;*/
    position: absolute;
    left: 650px;
    top: 720px;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }

   .cardd13 {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    /*position: relative;*/
    position: absolute;
    left: -500px;
    top: 1010px;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }

   .cardd14 {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    /*position: relative;*/
    position: absolute;
    left: -260px;
    top: 1010px;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }

   .cardd15 {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    /*position: relative;*/
    position: absolute;
    right: 300px;
    top: 1010px;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }


   .cardd16 {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    /*position: relative;*/
    position: absolute;
    left: 190px;
    top: 1010px;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }

   .cardd17 {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    /*position: relative;*/
    position: absolute;
    left: 410px;
    top: 1010px;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }

   .cardd18 {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    /*position: relative;*/
    position: absolute;
    left: 650px;
    top: 1010px;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }

   .cardd19 {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    /*position: relative;*/
    position: absolute;
    left: -260px;
    top: 1290px;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }


   .cardd20 {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    /*position: relative;*/
    position: absolute;
    right: 300px;
    top: 1290px;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }


   .cardd21 {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    /*position: relative;*/
    position: absolute;
    left: 190px;
    top: 1290px;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }


   .cardd22 {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    /*position: relative;*/
    position: absolute;
    left: 410px;
    top: 1290px;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }

   .card-details {
    color: palevioletred;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
   }
   
   .card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }

   .card-button2 {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    right: 270px;
    top: 700px;
    /*left: 50%;*/
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }


   .card-button3 {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    right: 500px;
    top: 700px;
    /*left: 50%;*/
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }

   
   .text-body {
    color: rgb(134, 134, 134);
   }
   
   /*Text*/
   .text-title {
    font-size: 1.5em;
    font-weight: bold;
   }
   
   /*Hover*/
   .card:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }


  

/* ---------------------------------------------------------------------------------------- */
/*Input CSS content:*/
/* ---------------------------------------------------------------------------------------- */


.form__group {
    position: absolute;
    right: 120px;
    padding: 20px 0 0;
    width: 100%;
    max-width: 180px;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid palevioletred;
    outline: 0;
    font-size: 17px;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .form__field::placeholder {
    color: transparent;
  }
  
  .form__field:placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #116399, #38caef);
    border-image-slice: 1;
  }
  
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #38caef;
    font-weight: 700;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }
