#main-box{
display:inline-block;
border:3px solid black;
width:80%;
height:100%;
position:relative;
left:10%;
margin:2px;
padding:2px;
box-sizing:border-box;
}

#timer{
text-align:center;
font-size:40px;
}

#submit,
#prev,
#next{
background-color:grey;
color:black;
padding: 10px 15px;
}

#submit:hover,
#prev:hover,
#next:hover{
background-color:green;
color:white;
}

#next{
position:relative;
left:60%;
width:120px;
bottom:10px
}
#prev{
position:relative;
left:5%;
width:120px;
bottom:10px
}
#AnswerHeading{
position:relative;
left:2%;
}
#QuestionHeading{
position:relative;
left:2%;
}

#QuestionNum
{
position:relative;
left:10%;
}
#submit{
position:relative;
left:30%;
width:120px;
bottom:10px
}

#box{
width:80%;
position:relative;
left:20px;
bottom:20px;
top:2px;
font-size:20px;
padding:10px;
border-radius:10px;
border:2px solid black;
}

#Question{
color:black;
font-size:20px;
text-align:center;
}

